.second-block {
    margin: 4rem auto;
    text-align: center;
}

.second-block h3 {
    margin-bottom: 1rem;
}

.second-block form {
    margin-top: 4.625rem;
}

.second-block input {
    width: 14.5rem;
    height: 3rem;
    border: 1px solid #DFDFDF;
    border-radius: .25rem;
    padding: .875rem 1.25rem
}

.second-block input::placeholder {
    color: #3D3D3D;
}

.second-block input + input {
    margin-left: .75rem;
}

.second-block button {
    width: 6rem;
    height: 3rem;
    border-radius: .25rem;
    border: none;
    background-color: #00A870;
    color: #fff;
    font-weight: 500;
    font-size: .875rem;
    cursor: pointer;
}

.second-block button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.second-block input + button {
    margin-left: .75rem;
}

.second-block h5.alert {
    text-align: center;
    height: .75rem;
}

@media screen and (max-width: 414px) {
    .second-block {
        margin: 4rem 1rem;
        text-align: center;
    }

    .second-block span {
        line-height: 1.75rem;
    }

    .second-block form {
        margin-top: 2rem;
    }

    .second-block input {
        width: 20.5rem;
    }
    
    .second-block input + input {
        margin-top: .625rem;
        margin-left: initial;
    }

    .second-block input + button {
        margin-top: 1.125rem;
        margin-left: initial;
    }

    .second-block button {
        width: 20.5rem;
    }

}